[ ca ]
default_ca = simplecert

[ crl_ext ]
authorityKeyIdentifier=keyid:always

[ simplecert ]
dir = ./
new_certs_dir = $dir
unique_subject = no
certificate = $dir/root_crt.pem
database = $dir/certindex
private_key = $dir/root_key.pem
serial = $dir/certserial
default_days = 720
default_md = sha1
policy = simplecert_policy
crlnumber = $dir/crlnumber
default_crl_days = 720
crl_extensions = crl_ext

[ simplecert_policy ]
commonName = supplied
stateOrProvinceName = supplied
countryName = supplied
emailAddress = supplied
organizationName = supplied
organizationalUnitName = supplied
