body {
	font-family: Roboto-Regular;
}

.panelicon {
	background-color: #fff !important;
	border-color: #333;
	outline: 0 !important;
	margin-right: 13px;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	cursor: context-menu;
	transition: border-color 750ms ease;
}

.panelicon:active, .panelicon:hover {
	border-color: #333;
}

.panelheader {
	height: 65px;
	line-height: 45px;
}

.panel_next_step_or_loading {
	opacity: 0.5;
	transition: opacity .4s !important;
}

.panelheader_set_current_step {
	opacity: 1;
}

.panelheader_completed {
	color: #3c763d !important;
	background-color: #dff0d8 !important;
	border-color: #d6e9c6 !important;
}

.functiontile {
	margin-top: 30px;
}

.page_content {
	position: relative;
	top: -55px;
	transition: top .4s ease;
}

.page_content_move_down {
	top: 0;
	transition: top .4s ease;
}

.navbaricon {
	font-size: 20px;
	margin-right: 8px;
	line-height: 30px;
}

.loading_gif_request {
	position: relative;
	bottom: 152px;
	left: 122px;
}

.loading_gif_settings {
	position: relative;
	bottom: 49px;
	left: 146px;
}

.navitem_disabled {
	cursor: context-menu !important;
}

.simplecert_inv_btn {
	border: 1px solid #C03A2A;
	background-color: #fff;
	color: #C03A2A;
	margin-right: 5px;
	transition: background-color .4s ease;
}

.simplecert_inv_btn:hover, .simplecert_inv_btn:focus {
	color: #fff;
	background-color: #C03A2A;
	transition: background-color .4s ease;
}

.simplecert_btn {
	color: #fff !important;
	background-color: #C03A2A;
	transition: background-color .4s ease;
}

.simplecert_btn:hover, .simplecert_btn:focus {
	background-color: #DC483C;
	transition: background-color .4s ease;
}

.name {
	position: relative;
	top: -5px;
	margin-right: 20px;
	margin-left: 20px;
	cursor: context-menu;
}

.logout {
	width: 54px;
}

.logout:hover {
	background-color: #eee;
}

.form-control-static {
	padding-top: 0;
}

.password_field_hidden {
	width: 50%;
	margin-bottom: 10px;
	display: none;
}

.password_change_btn {
	position: relative;
	top: -20px;
}

.panel_revoke {
	background-color: #fff;
}