html, body {
	height: 100%;
	font-family: Roboto-Regular;
}

.first_element_upper_margin {
	margin-top: 0;
}

.panel_primary_heading {
	color: #fff;
	background-color: #607D8B;
}

.action_info {
	font-size: 16px;
}

.action_arrow {
	font-size: 16px;
	margin-right: 7px;
	position: relative;
}

.bounce {
	-webkit-animation: bounce 1.5s infinite;
	animation: bounce 1.5s infinite;
	-moz-animation: bounce 1.5s infinite;
}

@-webkit-keyframes bounce {
	0% {left:0px;}
	50% {left:-10px;}
	100%{left:0;}
}

@-moz-keyframes bounce {
	0% {left: 0px;}
	50%{left:-10px;}
	100%{left:0;}
}

@keyframes bounce {
	0% {left: 0px;}
	50%{left:-10px;}
	100%{left:0;}
}
.panelicon {
	background-color: #fff !important;
	border-color: #333;
	outline: 0 !important;
	margin-right: 13px;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	cursor: context-menu;
	transition: border-color 750ms ease;
}

.panelicon:active, .panelicon:hover {
	border-color: #333;
}

.panelheader {
	height: 65px;
	line-height: 45px;
}

.panel_content_next_step_or_loading {
	display: none;
}

.panel_next_step_or_loading {
	opacity: 0.5;
	transition: opacity .4s !important;
}

.panelheader_set_current_step {
	opacity: 1;
}

.panelheader_completed {
	color: #3c763d !important;
	background-color: #dff0d8 !important;
	border-color: #d6e9c6 !important;
}

.page_content {
	position: relative;
	top: -55px;
	transition: top .4s ease;
}

.page_content_move_down {
	top: 0;
	transition: top .4s ease;
}

.navbaricon {
	font-size: 20px;
	margin-right: 8px;
	line-height: 30px;
}

.loading_gif {
	position: relative;
	display: none;
}

.loading_gif_request_step1 {
	bottom: 239px;
	left: 122px;
}

.loading_gif_request_step2 {
	bottom: 152px;
	left: 112px;
}

.loading_gif_settings {
	bottom: 49px;
	left: 151px;
}

.loading_gif_revoke {
	bottom: 65px;
	left: 216px;
}

.navitem_disabled {
	cursor: context-menu !important;
}

.simplecert_inv_btn {
	border: 1px solid #C03A2A;
	background-color: #fff;
	color: #C03A2A;
	margin-right: 5px;
	transition: background-color .4s ease;
}

.simplecert_inv_btn:hover, .simplecert_inv_btn:focus {
	color: #fff;
	background-color: #C03A2A;
	transition: background-color .4s ease;
}

.simplecert_btn {
	color: #fff !important;
	background-color: #C03A2A;
	transition: background-color .4s ease;
}

.simplecert_btn:hover, .simplecert_btn:focus {
	background-color: #DC483C;
	transition: background-color .4s ease;
}

.name {
	position: relative;
	top: -5px;
	margin-right: 20px;
	margin-left: 20px;
	cursor: context-menu;
}

.logout {
	width: 54px;
}

.logout:hover {
	background-color: #eee;
}

.form-control-static {
	padding-top: 0;
}

.password_field_hidden {
	width: 50%;
	margin-bottom: 10px;
	display: none;
}

.password_change_btn {
	position: relative;
	top: -20px;
}

.panel_revoke {
	background-color: #fff;
}

.horizontal_divider {
	margin-top: 7px;
}

.passwort_field_request_extend {
	width: 50%;
}

.admin_flag_nav {
	background-color: #607D8B;
  	position: relative;
  	left: -15px;
 	 top: -40px;
  	height: 50px;
  	width: 10px;
  	margin-bottom: -50px;
}

.admin_flag_name {
	background-color: #607D8B;	
	position: relative;
	color: #fff;
	text-align: center;
	line-height: 14px;	
	font-size: 9px;
	border-top-right-radius: 2px;
	border-top-left-radius: 2px;
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;
	width: 40px;
	height: 14px;
	top: -7px;
	margin-left: 20px;
	cursor: context-menu;
}

.table_icon_waiting {
	font-size: 20px;
	color: #337ab7;
}
.table_icon_accepted {
	font-size: 20px;
	color: #5cb85c;
}
.table_icon_denied {
	font-size: 20px;
	color: #C03A2A;
}
.status_column {
	text-align: center;
}
.loading_gif_table {
	height: 20px;
}