body {
	padding-top: 70px;
}

a {
	color: #58733D;
}

.navbar, navbar-default, navbar-fixed-top {
	background-color: #8bc34a;
}

.navbar a, navbar-default, navbar-fixed-top a {
	color: #fff !important;
}

.dropdown-menu>li>a {
	background-color: #fff;
	color: #58733D !important;
}
 
@media only screen and (max-width : 720px) {
	.dropdown-menu>li>a {
	background-color: #8bc34a;
	color: #fff !important;
	}
}

.nash_logo {
	margin: -4px 0px 10px 15px;
	width: 100px;
	border: 1px solid #fff;
	border-radius: 4px;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
	background-color: #7cb342;	
}