.document {
	height: 100%;
}

.body_login {
	background-color: #fff;
	font-family: Roboto-Regular;
	height: inherit;
}

.container_free {
	position: absolute;
	top: 50%;
	width: 100%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.container_fitting {
	position: absolute;
	top: 10px;
	width: 100%;
}

.modal-dialog {
	margin: auto;	
}

.modal_dialog_fitting {
  	top: 10px !important;	
}

.login_area {
	margin: auto;
	max-width: 420px;
	background-color: #F9F9F9;
	text-align: center;
}

.form-signin {
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
	margin-bottom: -14px;
}

.form-signin .form-control {
	position: relative;
	font-size: 16px;
	height: auto;
	padding: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.form-signin input[type="email"] {
	margin-bottom: -10px;
}

.form-signin input[type="password"] {
	margin-bottom: 10px;
}

.has-error {
	border-color: #a94442;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	background-color: #f2dede;
}

.has-warning {
	border-color: #8a6d3b;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	background-color: #fcf8e3;
}

.link {
	color: #898989;
}

.horizontal_divider {
	background: #C6C6C6;
	width: 70%
}

.simplecert_inv_btn {
	border: 1px solid #C03A2A;
	background-color: #fff;
	color: #C03A2A;
	margin-right: 5px;
	transition: background-color .4s ease;
}

.simplecert_inv_btn:hover, .simplecert_inv_btn:focus {
	color: #fff;
	background-color: #C03A2A;
	transition: background-color .4s ease;
}

.simplecert_btn {
	color: #fff !important;
	background-color: #C03A2A;
	transition: background-color .4s ease;
}

.simplecert_btn:hover, .simplecert_btn:focus {
	background-color: #DC483C;
	transition: background-color .4s ease;
}

.messagebar_placeholder {
	position: relative;
	top: -40px;
	height: 55px;
}

.modal-dialog {
	width: 330px;
	position: relative;
	top: 255px;
}

.modal-header {
	color: #666;
	border-bottom: none;
}

.modal-footer {
	border-top: none;
}

.modal-text {
	color: #666;
	text-align: left;
}

.form-control {
	padding: 10px;
	font-size: 16px;
	height: auto;
}

.loading_gif {
	position: relative;
	right: 132px;
	bottom: 15px;
	display: none;
}