.document {
	height: 100%;
}

.body_register {
	font-family: Roboto-Regular;
	background-color: #fff !important;
	height: inherit;
}

.container_free {
	position: absolute;
	top: 50%;
	width: 100%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.container_fitting {
	position: absolute;
	top: 10px;
	width: 100%;
}

.register_area {
	margin: auto;
	max-width: 600px;
	background-color: #F9F9F9;
	text-align: center;
}

.has-error {
	border-color: #a94442;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	background-color: #f2dede;
}

.has-warning {
	border-color: #8a6d3b;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	background-color: #fcf8e3;
}

.btn_submit {
	color: #fff;
	margin: 20px auto 10px auto;
	outline: none;
	width: 50%;
	margin-top: 20%;
	margin-bottom: 25px;
}

.simplecert_btn {
	color: #fff !important;
	background-color: #C03A2A;	
	transition: background-color .4s ease;
}

.simplecert_btn:hover, .simplecert_btn:focus {
	background-color: #DC483C;	
	transition: background-color .4s ease;
}

.messagebar_placeholder {
	position: relative;
	top: -40px;
	height: 55px;
}

.loading_gif_redirect {
 	position: fixed;
  	display: none;
 	left: 50%;
  	margin-left: -25px;
  	top: 50%;
  	width: 50px;
}